*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
--Dark-Gray: hsl(0, 0%, 55%);
--Very-Dark-Gray: hsl(0, 0%, 41%);
--font-family: 'Alata', sans-serif;
--font-family-2: 'Josefin Sans', sans-serif;
}

nav{
    background-image: url(./images/mobile/image-hero.jpg);
    max-width: 100%;
    height: 70vh; 
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    position: relative;
    object-fit: cover;
    padding: 20px;
}
ul{
    display: flex;
    justify-content: space-between;
}
 .nav-card{
    width:  300px;
    height: 250px;
    border:2px var(--White) solid ;
    display: flex;
    align-items: center;
    position: relative;
    top: 150px;
    padding: 10px;
}

.nav-card h1{
    font-family: var(--font-family);
 font-weight: lighter;
    font-size: 50px;
    color: var(--White);
} 
/* .menu-card{
    display: none;
} */
figure{

    padding: 40px;
    position: relative;
    top: 10px;
    text-align: center;
    
}
figure h1{
    font-size: 50px;
    font-weight: lighter;
    margin-top: 20px;
}
figure p{
    font-family: var(--font-family)--font-family-2;
    font-size: 25px;
    margin-top: 20px;
    
}
.creation-section{
    display: grid;
    height: 170vh;
    padding: 20px;
}
.creation-section h1{
    text-align: center;
    font-size: larger;
}
.creation-section img{
    width: 100%;
}

.creation-section p{
    font-family: var(--font-family);
}
.image-1 h1, .image-2 h1, .image-3 h1, .image-4 h1, .image-5 h1, .image-6 h1, .image-7 h1, .image-8 h1{
    font-size: 50px;
    position: absolute;
    color: var(--White);
    padding: 110px 10px;
}
.btn{
    width: 200px;
    height: 50px;
    background: none;
    border: 2px black solid;
    position: relative;
    left: 150px;
}
.btn:hover{
    background-color: var(--Black);
    color: var(--White);
    transition-duration: 1s;
}

footer{
    max-width: 100%;
    height: 300px;
    background-color: var(--Black);
    display: flex;
    justify-content: center;
    color: var(--White);
}
.footer{
    display: grid;
    
}
.link{
    display: flex;
    justify-content: space-around;
}
.links a{
    display: flex;
text-decoration: none;
    color: var(--White);
    padding-left: 50px;
}
.icons{
    display: flex;
    justify-content: space-between;
    
}
.icons img{
    width: 50px;
    object-fit: contain;

}